{{ block title }}
{% if  my_disclosure %}
    先ほどの問題について話し合ってください。
{% else %}
    他の二人の話し合いを見ていてください。
{% endif %}
{{ endblock }}

{{ block styles }}
<style>
    .otree-chat {
        word-wrap: break-word;
        overflow-wrap: break-word;
        height: 330px;
        padding: 5px 5px 0 5px;
        border-radius: 7px;
        background-color: #fbfeff;
    }

    .otree-chat__messages {
        padding: 0 5px;
        height: 260px !important;
        background-color: #fbfeff !important;
        overflow-x: hidden !important;
        border-bottom: 1px solid #eee;
    }

    .otree-chat__nickname {
        width: 920px !important;
        font-size: 13px;
        color: #197dcfa3 !important;
    }

    .otree-chat__body {
        display: block;
        border: solid #6f80a575;
        border-width: 0 2px 2px 0;
        border-radius: 7px;
        padding: 8px 10px;
        margin: 0 400px 6px 10px;
        box-shadow: 4px 4px 4px -1px rgb(0 0 0 / 8%);
        font-size: 16px;
        background-color: #34b0e47d;
    }

    .otree-chat__input {
        width: 800px;
        height: 38px;
        border: none;
        border-radius: 7px;
        background-color: #eee;
        padding: 0 10px;
        margin: 8px 10px 0 10px;
        font-size: 16px;
    }

    .otree-chat__input:focus {
        outline: none;
        border: 1px solid #05b1d1;
    }

    .otree-chat__btn-send {
        outline: none;
        border: 1px solid #05b1d1;
        background-color: #34b0e47d;
    }

    .otree-timer {
        display: none;
    }

    .btn {
        height: 38px;
        font-size: 17px !important;
        margin: 8px 10px 0 0;
    }

    .modal-content {
        background-color: white;
        border-radius: 4px;
        border: none;
    }

    .modal-element {
        background-color: white;
        margin-bottom: 4px;
        border-radius: 4px 4px 0 0;
    }

    .modal-value {
        font-size: 12px;
        float: left;
        margin-top: 11px;
    }

    .bi-info-circle-fill {
        color: #0096ff;
        float: left;
        margin: 11px 11px 11px 15px;
    }

    .bi-x {
        color: rgb(160, 160, 160);
        float: left;
        margin: 11px 0 0 38px;
    }

    .field {
        display: flex;
        justify-content: space-around;
    }

    .btn-footnote {
        float: none !important;
    }

    .matrix-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 0px;
        background-color: white;
        table-layout: fixed;
    }

    .matrix-table th, .matrix-table td {
        border: 1px solid #dee2e6;
        padding: 6px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
    }

    .matrix-table thead th {
        background-color: #f8f9fa;
        font-weight: bold;
    }

    .matrix-table tbody th {
        background-color: #FFF3CD;
        font-weight: normal;
    }

    .matrix-table tbody th b {
        font-size: inherit !important;
    }

    .icon-person {
        width: 32px;
        height: 32px;
        margin: 0 2px;
    }

    .opt1-color { color: #000; fill: #000; stroke: #000; }
    .opt2-color { color: #000; fill: #000; stroke: #000; }

    .my-icon-disclosed {
        stroke-width: 0.5;
        opacity: 1.0;
    }

    .my-icon-undisclosed {
        fill-opacity: 0.1;
        stroke-opacity: 1.0;
        stroke-width: 0.5;
        stroke-dasharray: 0.5, 0.5;
    }
</style>

<link rel="stylesheet" href="{% static 'global/main.css' %}" />
{{ endblock }}

{{ block content }}
<body oncontextmenu="return false;">
    <input type="hidden" id="my-nickname" value="{{ nickname }}">

    <div class="modal fade bd-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-element">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path
                        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                    </svg>
                    <div class="modal-value">もっと活発に発言しましょう！</div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </div>
            </div>
        </div>
    </div>

    <div style="background: #34b0e47d; border: 1px solid #34b0e47d; padding-left: 30px;">
        <b>問題</b>：{{ question }}はどちらですか？
    </div>
    <div style="border: 1px solid #34b0e47d; font-size: 100%; padding: 20px;">
        <p style="margin-bottom: 5px;">あなたは <b>{{ decision }}</b> を選択しました。</p>
        <p style="margin-bottom: 5px;">{{ disclosure_msg|safe }}</p>

        <table class="matrix-table">
            <thead>
                <tr>
                    <th style="width: 55%;"></th>
                    <th style="width: 30%;">他のメンバー</th>
                    <th style="width: 15%;">あなた</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th><b class="opt1-color">{{ option1 }}</b>を選択した人</th>
                    <td>
                        {% for _ in others_opt1_list %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill icon-person opt1-color my-icon-disclosed" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                        {% endfor %}
                    </td>
                    <td>
                        {% if decision == option1 %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill icon-person opt1-color {% if my_disclosure %}my-icon-disclosed{% else %}my-icon-undisclosed{% endif %}" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th><b class="opt2-color">{{ option2 }}</b>を選択した人</th>
                    <td>
                        {% for _ in others_opt2_list %}
                        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill icon-person opt2-color my-icon-disclosed" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                        </svg>
                        {% endfor %}
                    </td>
                    <td>
                        {% if decision == option2 %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-fill icon-person opt2-color {% if my_disclosure %}my-icon-disclosed{% else %}my-icon-undisclosed{% endif %}" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <button type="button" class="btn-footnote" data-toggle="modal" data-target="#exampleModal">
        脚注を参照
    </button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                {% if annotations %}
                <small>注）</small>
                {% endif %}
                <ul>
                    {% for note in annotations %}
                    <li><small>{{ note }}</small></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
    </div>

    <br>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <br>

    <p>{{ chat_msg }}</p>
    {% if my_disclosure %}
        <p>あなたの名前は <b>{{ nickname }}</b> です。</p>
    {% endif %}
    {{ chat nickname=nickname}}

</body>
{{ endblock }}

{{ block scripts }}
<script>
    const input = document.getElementsByClassName('otree-chat__input')[0];
    if (input) {
        input.addEventListener('keydown', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
            }
        });
    }

    let id_announce;
    let id_patrol;
    let isSet = false;

    window.addEventListener('DOMContentLoaded', () => {
        const isDisclosed = {{ my_disclosure|json }};

        if (!isDisclosed) {
            const chatInput = document.querySelector('.otree-chat__input');
            const chatBtn = document.querySelector('.otree-chat__btn-send');
            if (chatInput) {
                chatInput.disabled = true;
                chatInput.placeholder = "現在、メッセージの入力はできません。";
                chatInput.style.backgroundColor = "#e0e0e0";
            }
            if (chatBtn) {
                chatBtn.disabled = true;
            }
        } else {
            id_patrol = setInterval(patrol, 2000);
        }
    });

    var patrol = function () {
        let chatInput = document.getElementsByClassName("otree-chat__input")[0];
        if (!chatInput) return;
        let text = chatInput.value;
        if (text === "" && isSet === false) {
            id_announce = setTimeout(announce, 60000);
            isSet = true;
        } else if (text !== "") {
            clearTimeout(id_announce);
            isSet = false;
        }
    }

    var announce = function () {
        $('#myModal').modal('show');
        $('#myModal').on('hidden.bs.modal', function (e) {
            isSet = false;
        });
    }

    let x = document.getElementsByClassName("bi-x")[0];
    if (x) {
        x.addEventListener("click", () => {
            $('#myModal').modal('hide');
            isSet = false;
        });
    }
</script>
{{ endblock }}